<div class="container-fluid mt-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="table-responsive">
			{% if cart|length > 0 %}
				<table id="myTable" class="table">
						<thead>
							<tr>
								<th>Pack</th>
								<th>Contenu</th>
								<th>Qté</th>
								<th>Prix unitaire</th>
								<th class="text-right">
									<span id="amount" class="amount">Total</span>
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% set total = null %}
							{% set totalPack = null %}

							{% for pack in cart %}
								<tr>
									<td>
										<div class="product-img">
											<div class="img-prdct"><img src="https://www.pos-agent.com/app_v2/assets/upload/product/product_892_20180823125535.jpg"></div>
											<small>{{ pack.pack.name }}</small>
										</div>
									</td>
									<td>
										<p>{{ pack.pack.description|raw }}</p>
									</td>
									<td>
										<div class="button-container">
											<a class="js-prevent-default-link" href="{{ path('add_to_cart', { id : pack.pack.id }) }}">
												<button  class="cart-qty-plus" type="button" value="+">+</button>
											</a>
											<input type="text" name="qty" min="0" class="qty form-control" value="{{ pack.quantity }}"/>
											<a class="js-prevent-default-link" href="{{ path('decrease_to_cart', { id : pack.pack.id }) }}">
												<button class="cart-qty-minus" type="button" value="-">-</button>
											</a>
										</div>
									</td>
									<td>
										<input type="text" value="{{pack.pack.price}} €" class="price form-control" disabled>
									</td>
									<td align="right">
										<span id="amount" class="amount">{{pack.pack.price * pack.quantity}}
											€ /mois</span>
									</td>
									<td>
										<a href="{{ path('delete_to_cart', { id : pack.pack.id }) }}">
											<img class="icon-default-style" src="{{ asset('images/icons/trash.png') }}" alt="Delete my pack (trash icon from Flaticon)">
										</a>
									</td>
								</tr>
							</tbody>
							{% set total = total + (pack.pack.price * pack.quantity) %}
							{% set totalPack = totalPack + pack.quantity %}
						</tbody>
						{% endfor %}
						<tfoot>
							<tr>
								<td colspan="4"></td>
								<td align="right">
									<span>
										<b>Nombre de pack(s) =</b>
										{{ totalPack }}
									</span>
									<span id="total" class="total">
										<b>TOTAL =</b>
										{{ total }}€ /mois
									</span>
									<a href="#">
										<button>Valider mon panier</button>
									</a>
								</td>
							</tr>
					</tfoot>
				</table>
			{% else %}
				<div class="container">
					<div class="alert alert-info">
						<h3 class="alert-heading">Votre panier est vide.</h3>
						<p class="lead">Vous souhaitez acheter un de nos packs ? Cliquez <a href="{{ path('pack_doc') }}">ici</a>.</p>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>

