<nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" href="{{ path('homepage') }}">Presta-doc</a>
	<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('homepage') }}">Accueil
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href=" {{ path('folders_new') }}">Déposer un document
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('pack_doc') }}">Packs presta-doc
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ path('contact') }}">Contact
				</a>
			</li>
		</ul>
		<hr id="hr-divider-navbar">
		<ul class="navbar-nav ml-auto navbar-account">
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('account_logout') }}">Déconnexion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('my_account') }}">
						Compte <small>({{app.user.firstname}})</small> 
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('register') }}">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
				</li>
			{% endif %}
		</ul>
		<a href="{{ path('cart') }}">
			<i class="fas fa-cart-arrow-down"></i>
		</a>
	</div>
</nav>

{# Message flash #}
{% include "partials/_flash_message.html.twig" %}
