{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="text-center">Mon récapitulatif</h2>
		<p class="mb-0 text-center">Merci de vérifiez vos informations avant de payer votre commande.</p><br>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<b>Adresse de facturation</b><br>
                {{ billingAddress|raw }}
			</div>
			<div class="col-md-6">
                {% set total = null %}
				{% for pack in cart %}
					<div class="row">
						<div class="col-2">
							<img src="https://picsum.photos/64/64" alt="">
						</div>
						<div class="col-8 my-auto">
							{{ pack.pack.name }}<br>
							<small>
								x {{ pack.quantity }}
							</small>
						</div>
						<div class="col-2 my-auto">
                            {{ pack.pack.price * pack.quantity }} €
                        </div>
					</div>
                    {% set total = total + (pack.pack.price * pack.quantity) %}
				{% endfor %}
			</div>
		</div>
            <hr>
            <div class="float-right">
                <strong>Total :</strong> {{ total }} € /mois <br>
                <a>
                    <button id="checkout-button">Payer | {{ total }} €</button>
                </a>
            </div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	<script src="https://js.stripe.com/v3/"></script>
	<script type="text/javascript">
		var stripe = Stripe("pk_test_51HzIvAAaUd883Joulr7nkSYAnow8fAkR4hLbVI80q0f3JBDrpaLzDzVwoK0ybYYfZ7oPEXJhK2wnDLN1FZYUJdRn00I4aFJi6R");
		var checkoutButton = document.getElementById("checkout-button");
		checkoutButton.addEventListener("click", function () {
				fetch("/commande/create-session/{{ reference }}", {
					method: "POST",
				})
				.then(function (response) {
				return response.json();
				})
				.then(function (session) {
					if (session.error == 'order') {
						window.location.replace('{{ path('order') }}');
					} else {
						return stripe.redirectToCheckout({ sessionId: session.id });
					}
				})
				.then(function (result) {
				// If redirectToCheckout fails due to a browser or network
				// error, you should display the localized error message to your
				// customer using error.message.
				if (result.error) {
					alert(result.error.message);
				}
				})
				.catch(function (error) {
				console.error("Error:", error);
				});
		});
  </script>
{% endblock %}
