{% extends 'base.html.twig' %}

{% block title %}Validation de ma commande{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="text-center">Je passe ma commande</h2>
		<hr>
		<div class="row">
			<div class="col-md-6">
				{% if app.user.addresses|length > 0 %}
					{% set formHtml %}
                        {{form_start(form, {action:path('order_recap')})}}
                            {{form_row(form.addresses)}}
                        	<button type="submit">Valider ma commande</button>
                        {{form_end(form)}}
					{% endset %}

					{{ formHtml|replace({'[br]' : '<br/>'})|raw }}
				{% else %}
					<div class="mt-2 alert alert-warning">
						<h3 class="alert-heading mb-3">Aucune adresse enregistrée.</h3>
						<hr>
						<p class="mb-0"> Une adresse de facturation est requise pour finaliser votre commande.
						</p>
						<p class="mb-0">Pour en ajouter une, veuillez
							<a href="{{ path('add_billing_address') }}">cliquer ici</a>.
						</p>
					</div>
				{% endif %}
			</div>
			<div class="col-md-6">
				<b>Récapitulitif de ma commande</b><br>
                {% for pack in cart %}
                <div class="row">
                    <div class="col-2">
                        <img src="https://picsum.photos/64/64" alt="">
                    </div>   
                    <div class="col-8 my-auto">
                        {{ pack.pack.name }} <br>
                    </div>
                    <div class="col-2 my-auto">
                        x {{ pack.quantity }}
                    </div>   
                </div>
                {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
