<div class="card card-{{ loop.index }}">
	<div class="pricing-header">
		<h2 class="card-title">{{ pack.name }}</h2>
		<div class="price-circle">
			<p class="card-price">{{ pack.price }} €</p>
			<small class="info">/ Mois</small>
		</div>
	</div>
	<p>{{ pack.description|raw }}</p>

	<a href="{{ path('add_to_cart', { id : pack.id }) }}">
		<button class="btn-card">ACHETER CE PACK</button>
	</a>
</div>
